body {
    /* font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

.questions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    margin-bottom: 20px;
    text-align: center;
}

.q-h {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.q-h ul {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
}

.q-h ul li {
    flex: 1;
    display: flex;
    justify-content: start;
    padding: 0 10px;
    box-sizing: border-box;
}

.question-box {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.question-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.question-box ul li {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.question-box ul li:last-child {
    border-bottom: none;
}

.question-box ul li div {
    flex: 1;
    display: flex;
    justify-content: start;
    padding: 5px 10px;
    box-sizing: border-box;
}

.name-col {
    flex-basis: 20%;
}

.email-col {
    flex-basis: 30%;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.query-col {
    flex-basis: 40%;
}

.date-col {
    flex-basis: 10%;
    white-space: nowrap;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .q-h ul li, .question-box ul li div {
        width: 100%; 
        padding: 5px 0;
    }

    .name-col,
    .email-col,
    .query-col,
    .date-col {
        width: 100%; 
    }
}

