/* .view-admin-profile {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
} */

.view-ap-details {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.view-em-ph {
    display: flex;
    flex-direction: column;
    gap : 10px;
}

.view-em-ph div{
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.view-img-fields img {
    max-width: 268px;
    max-height: 350px;
    border-radius: 7px;
}

.l{
    font-weight: bold;
}

p {
    margin: 0;
}

@media screen and (max-width : 768px){
    .view-img-fields img {
        max-height : 200px;
        max-width : 150px;
        object-fit: contain;
    }
}