
.first{
    display : flex;
    justify-content : center;
    align-items : center;
    height : 80vh;
    /* background-color : rgb(255, 98, 0); */
    animation : changeColor 5s ease infinite;
    margin : auto;
    padding-top: 8vh;
}

@keyframes changeColor {
    0%{
        background-color : rgb(216, 84, 2);
    }
    33%{
        background-color : rgb(211, 211, 1);
    }
    66%{
        background-color : rgb(117, 213, 0);
    }
    100%{
        background-color : rgb(216, 84, 2);
    }
}

.intro{
    width : 35vw;
}

.images{
    width : 35vw;
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
}

.images img{
    height : 180px;
    border-radius : 10px;
}

.images :nth-child(1){
    align-self: flex-end;
}

.images :nth-child(2){
    align-self: flex-start;
}

.images :nth-child(3){
    align-self: flex-end;
}

.second{
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
    height : 50vh;
    margin-top : 20vh;
}

.second h1{
    color : rgb(255, 255, 0);
    font-weight: 500;
}

.serviceImages{
    width : 70vw;
    margin : auto;
    display : flex;
    justify-content : space-between;
    align-items : center;
}

.card{
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
    gap : 20px;
}

.card img{
    height : 250px;
    width : 250px;
    border-radius : 10px;
    object-fit : cover;
}

.line{
    height : 1px;
    background-color : black;
}

.third{
    height : 50vh;
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
    gap : 25px;
    /* background-color: red; */
    margin-top : 20vh;
}

.third h1{
    color : rgba(2, 210, 210, 0.788);
}

.blue-images{
    display : flex;
    justify-content : center;
    align-items : center;
    gap : 10px;
}

.blue-card{
    width : 25vw;
    height : 40vh;
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
    background-color : rgb(250, 250, 250);
    padding : 5px;
}

.blue-card img{
    height : 100px;
}

.blue-card p{
    width : 21vw;
}

.blue-card:hover{
    box-shadow: 8px 8px 8px 8px rgba(0, 255, 255, 0.482);
}